// Custom Styles

// Website Theme/Bootstrap
$theme-colors: (
	"dark": #262626,
	"primary": #007EA7
);

// Import bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

//SCSS Variables
$dark: #262626;
$blue: #003249;

// Font Family Declarations
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;

//Global Declarations
#about, #skills, #portfolio {
	padding-top: 60px;
	margin-top: -40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}

// html,
// body {
// 	max-width: 100%;
// 	overflow-x: hidden;
// }

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #006181;
}
.btn-primary.raised:active, 
.btn-primary.raised.active {
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

// Nav
.navbar {
	// background-color: rgba(0,0,0,0.05);

	.navbar-brand {
		color: $white;
		// text-transform: uppercase;
		margin-left: 1rem;
	}

	.navbar-nav {
		.nav-item {
			margin: 0 15px;
			font-family: 'Fira Sans', sans-serif;
			font-weight: bold;
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
		.nav-item.active {
			text-decoration: underline;
		}
	}
}

.fixed-top {
	transition:background-color 200ms linear;
}
.fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
	-moz-box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
	box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
}
.fixed-top.scrolled {
	.navbar-brand {
		color: $dark;
	}
	.navbar-nav {
		background-color: transparent;

		.nav-item {
			color: $dark;
		}
	}
	.navbar-toggler-icon .fas {
		color: $dark;
	}	
}

// Hero Section
#particles-js {
	height: 100vh;
	background-color: #262626;

	.btext {
		color: #fff;
		text-align: center;
		position: absolute;
		top: 40%;
		left: 0;

		#hero {
			font-size: 2.5rem;
			color: #fff;
		}
	}
}

// About Section
#about {
	a {
		color: #007EA7;
	}

	i.fab {
		font-size: 30px;
	}
}

// Skills Section
#skills {
	margin-top: 3rem;

	h3 {
		text-transform: uppercase;
		text-align: center;
		background-color: $blue;
		color: $white;
		padding: 1rem 0;
	}
}

// Portfolio Section
#portfolio {
	.card {
	  -webkit-box-shadow: 0px 3px 8px 3px rgba(38,38,38,0.10);
		-moz-box-shadow: 0px 3px 8px 3px rgba(38,38,38,0.10);
		box-shadow: 0px 3px 8px 3px rgba(38,38,38,0.10);
	  border-radius: 15px;
	  border: none;
	}

	.btn a {
	  color: $white;
	  text-decoration: none;
	}
}